
body
{
/* 	font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2", "Times New Roman", serif; */
/* 	font-family: font-family: 'Times New Roman', Times, Serif; */
/* 	font-family: 'Book Antiqua', Baskerville,'Baskerville Old Face', Georgia, Serif; */
	font-family: Baskerville,'Baskerville Old Face', Georgia, Serif;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-weight: 300;
	line-height: 1.5em;
}

a:link, a:visited
{
	COLOR: #666666; text-decoration: none;
}

a:active
{
	COLOR: #666666; text-decoration: none;
}

a:hover
{
	COLOR: #2153AA; text-decoration: none;
}

#container
{
	width: 400px;
	margin: 0 auto;
}

/*Header*/

header.site-header {
	font-size: 0.9em;
	height: 220px;
	margin-top: -20px;
	padding-top: 1em;
	padding-bottom: 3em;
	margin-bottom: 2em;
	/*background: #F7F7F7;*/
	background-image: url('../gfx/abekat.png');
	background-repeat: no-repeat;
	background-position: 56% 95%;
	/* optional rounded corners for browsers that support it */
/*
   -moz-border-radius: 8px;
   -khtml-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
*/
}

header h1
{
	font-size: 1.0em;
	font-style: italic;
	text-align: center;
	font-weight: normal;
	color: #666;
}

header.headline
{
	font-size: 1.3em;
	margin-top: 0.2em;
	text-align: center;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: 1px;
}

.headline a
{
	color: #333;
	text-decoration: none;
}

h1.headline {
	text-align: center;
}

.description
{
	margin-top: -0.4em !important;
	width: 80%;
	margin: 0 auto;
	font-size: 3.0em;
	letter-spacing: -3px;
}

.description h1
{
	line-height: 0.8em;
	font-style: normal;
	font-weight: bolder;
	color: #000;
}

.description a
{
	text-decoration: none;
}

.content
{
	margin-top: 4em;
	margin-bottom: 3em;
}

#home, #single
{
	font-size: 1.0em;
	line-height: 1.4em;
}

#home .content
{
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

#secondary.content
{
	max-height: 350px;
}

.more-container
{
	text-align: center;
	font-style: italic;
	font-size: 1.2em;

	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 20px 0;
	padding-bottom: 100px;

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.moretext
{
	width: 100%;
	padding-top: 80px;
	display: block;
	position: absolute;
}

#secondary
{
	font-size: 0.9em;
}

#tertiary
{
	font-size: 0.8em;
}

.meta
{
	text-transform: uppercase;
	color: #444;
	letter-spacing: 0.1em;
	text-align: center;
/* 	font-style: italic; */
	padding-bottom: 1em;
	padding-top: 1.0em;
	font-size: 0.6em;
}

/*
#primary .meta, #single .meta
{
	font-size: 0.5em;
}

#secondary .meta, #tertiary .meta
{
	font-size: 0.5em;
}
*/

/* SINGLE */

#single .wp-caption.alignleft, #single .wp-caption.alignright, #single .bitImage
{
	max-width: 40%;
	height: auto;
}

#single img
{
	width: 97%;
	height: auto;
}

#single .content
{
	padding-top: 2em;
/*	column-count: 2;
	column-gap: 20px;*/
}

/* FOOTER */

footer {
	font-style: italic;
	font-size: 1em;
	text-align: center;
	margin-top: 5em;
	margin-bottom: 2em;
}

#footer ul, #footer li {
	list-style-type: none;
	padding-bottom: 1em;
}

#footer h2 {
	font-size: 2em;
	padding-bottom: 0.1em;
}

#footer .widget, #search li {
	padding-bottom: 0.6em;
}

#tuborg-left {
	font-size: 11em;
	text-align: right;
	color: #f2f2f2;
	padding-top: 0.3em;
}

#tuborg-right {
	font-size: 11em;
	color: #f2f2f2;
	padding-top: 0.3em;
}

#tuborg-left p {
	margin-bottom: 0;
}

#tuborg-right p {
	margin-bottom: 0;
}

/* CAPTIONS */

.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
   margin-left: 0px;
}

.alignright {
   float: right;
}

.wp-caption, .bitImage
{
   text-align: center;
   padding-top: 20px;
   margin: 0px 10px -10px 10px;
}

#home .wp-caption, #home .bitImage
{
   width: 14em !important;
	overflow: visible;
	max-width: 120px;
}

.wp-caption img, .bitImage img {
   margin: 0;
   padding: 0;
   border: 0 none;
    -moz-border-radius: 2px;
   -khtml-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
}

#home .wp-caption img {
   width: 96%;
   height: auto;
}

.wp-caption p.wp-caption-text, .bitImage p {
   font-size: 0.9em;
   padding: 0em 1em 0.5em;
   margin: 0;
   font-style: italic;
   font-size: 0.9em;
}

#home .wp-caption p.wp-caption-text {
	visibility: hidden;
	font-size: 0px !important;
	line-height: 1% !important;
	padding-bottom: 4px;
}

#secondary .wp-caption
{
	border: none;
	background: none;
	margin-top: 0px;
/*	display: block;*/
	float: left;
/*	margin: 0 auto 1em;*/
	max-width: 80px;
/*	max-height: 120px;*/
}

p.single-meta
{
	font-size: 0.7em;
	width: 75%;
	margin: 0 auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

/* COMMENTS */

#respond
{
	padding-left: 1.5em;
	padding-right: 0.8em;
}

h3#comments
{
	margin-bottom: 2em;
}

input, textarea
{
	width: 100%;
}

li.recentcomments {
	font-size: 1.1em;
	padding-bottom: 0.8em;
}

li.recentcomments a {
	font-variant: small-caps;
}

ol.commentlist {
	list-style-type: none !important;
}

li.comment {
	padding: 1em 1em 0 1em;
	border: 1px solid #ddd;
	margin-bottom: 1.5em;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

ol.commentlist p {
	width: 80%;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-top: 1em;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}

.commentmeta, .commentmetadata {
	font-style: italic;
	font-size: 0.8em;
	padding-left: 1em;
}

.comment-author.vcard
{
	margin-bottom: 0.7em;
}

cite.fn {
	font-size: 1.3em;
	font-weight: bold;
}


.avatar {
	max-width: 80px;
	float: right;
	position: relative;
	border: 1px solid #444444;
	margin-left: 10px;
	margin-bottom: 10px;
	background: #444444;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}Â



/* SIDEBARS */

.latestcomments li {
	list-style-type: none !important;
}

#quarternary li {
	list-style-type: none !important;
}

.hidden {
	visibility: hidden;
	font-size: 0px !important;
	line-height: 1% !important;
}

#flickrwrapper {
	float: left;
	width: 100%;
	margin-bottom: 2em;
}

#flickrimage {
	float: left;
	margin-left: 10%;
	background-color: #F7F7F7;
	padding: 2px;
	border: 1px solid #ddd;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

/* LEGACY CAPTIONS MADE WITH BRIAN'S IMAGE TOOL PLUGIN */

/*
.bitImage {
	padding: 8px;
    margin: 12px 20px 12px 20px;
    background-color: #F7F7F7;
    border: 1px solid #ddd;
    font-size: 0.9em;
    text-align: center;
}
*/

.bitLeft {
	float: left;
}

.bitCenter {
	margin: 0 auto !important;
	margin-bottom: 2em !important;
}

.bitRight {
	float: right;
}

#home DIV.bitImage p {
	visibility: hidden;
	font-size: 0px !important;
	line-height: 1% !important;
}

#home DIV.bitImage {
	width: 30% !important;
	overflow: visible;
}

#home DIV.bitImage img {
	width: 100%;
}

h2.widgettitle
{
	margin-bottom: 0.5em;
}
